h1 {
    text-align: center;
}
button {
    display: inline-block;
    margin-left: 50px;
    padding: 20px;
    background-color: crimson;
    color: whitesmoke;
    text-align:center;
    border-radius: 20px;
    border: none;
}
